CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_USE_CHART=y
CONFIG_LV_USE_PERF_MONITOR=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_APP_WIFI_SSID="LEE_2.4GHz"
CONFIG_APP_WIFI_PASSWORD="LEEpassword"
CONFIG_APP_WIFI_SSID_2="instk"
CONFIG_APP_WIFI_PASSWORD_2="instkPassword"
CONFIG_APP_STOCK_SYMBOL_KODEX200="069500.KS"
CONFIG_APP_STOCK_SYMBOL_SMR="0098F0"
CONFIG_APP_STOCK_UPDATE_PERIOD_SEC=15

